<%- include('../partials/header') %>

<body>
    <h1>Update Drill!</h1>
    <a class="back-btn" href="/drills/">&#60;&#60; Back</a><br>
    <form id="new-form" action="/drills/<%=drill._id%>?_method=PUT" method="POST">
        <label>Name:</label>
        <input type="text" name="name" value="<%= drill.name %>"> <br>
        
        <label>Category</label>

        <select name="category">
            <% ['Conditioning', 'Dribbling', 'Goalkeeping', 'Passing', 'Shooting'].forEach(str => {%>
                <option value="<%= str %>" <%= drill.category === str ? 'selected' : ''%>>
                    <%= str %>
                </option>
            <% }) %>
        </select> <br>
        
        <label>Minutes:</label>
        <input type="number" name="minutes" value="<%= drill.minutes %>"> <br>
        
        <label>Description:</label>
        <textarea name="description" id="description" cols="15" rows="2">
            <%= drill.description %>
        </textarea> <br>
        <input type="submit" value="Update">
    </form>
</body>
</html>