<%- include('../partials/header') %>

<body>
    <h1>All drills!</h1>
    <% if(drillDocs.length) {%>
        <h3>These are all the available drills.</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Minutes</th>
                    <th>Description</th>
                    <th>          </th>
                </tr>
            </thead>
            <tbody>
                <% drillDocs.forEach(drill => { %>
                <tr>
                    <td>
                        <%= drill.name %>
                    </td>
                    <td>
                        <%= drill.category %>
                    </td>
                    <td>
                        <%= drill.minutes %>
                    </td>
                    <td>
                        <%= drill.description %>
                    </td>
                    <td>
                        <a href="/drills/<%= drill._id %>">Details</a>
                    </td>
                </tr>
                <% }) %>
                </tbody>
        </table> <br>
    <% } else {%>
        <h3>Hey, let's add a drill.</h3>
    <% } %>
    <a class="go-add-btn" href="/drills/new/">Go Add &#62;&#62;</a><br>
</body>
</html>