<%- include('../partials/header') %>

<body>
    <h1>All drills!</h1>

    <a href="/drills/new/">Add Drill</a>

    <tbody>
        <% drillDocs.forEach(drill => { %>
            <tr>
                <td>
                    Name: <%= drill.name %> <br>
                </td>
                <td>
                    Category: <%= drill.category %> <br>
                </td>
                <td>
                    Minutes: <%= drill.minutes %> <br>
                </td>
                <td>
                    Description: <%= drill.description %> <br>
                </td>
                <td>
                    Created By: <%= drill.userAvatar %>
                    <%= drill.userName %> <br>
                </td>
            </tr> <br>
        <% }) %>
    </tbody>
</body>
</html>