<%- include('../partials/header') %>

<body>
    <h1>Drill Details!</h1>
    <a class="back-btn" href="/drills/">&#60;&#60; Back</a><br>
    <article class="flex-card">
        Name: <%= drill.name %> <br>
        Category: <%= drill.category %> <br>
        Minutes: <%= drill.minutes %> <br>
        Description: <%= drill.description %> <br>
        Created By: <%= drill.userName %> <br>
        <!-- <img class="user-profile-img" src="<%= drill.userAvatar %>" alt="user-profile"> -->

        <% if(user && user._id.equals(drill.user)) {%>
            <a id="edit-btn" href="/drills/<%= drill._id %>/edit">Edit</a>

            <form action="/drills/<%=drill._id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>
        <% } %>
    </article>
</body>
</html>