<%- include('../partials/header') %>

    <body>
        <h1>Hi Coach <%= `${user.name}` %>!</h1>
        
        <% if(practiceDocs.length) {%>
            <h3>Here are upcoming practices:</h3>
        <% } else {%>
            <h3>Let's get started by adding a practice.</h3>
        <% } %>

        <main>
            <% practiceDocs.forEach(practice=> { %>
                <article>
                    <%= practice.name %> <br>
                    <%= practice.date.toLocaleString() %> <br>
                    <% practice.drills.forEach(drill=> { %>
                    <%= drill.name %> <br>
                    <% }) %>
                    <a href="/practices/<%= practice._id %>">View Details</a>
                </article>
            <% }) %> <br>
        </main>
        <a class="go-add-btn" href="/practices/new/">Go Add &#62;&#62;</a>
    </body>

    </html>