<%- include('../partials/header') %>

<body>
    <h1>Hi Coach <%= `${user.name}` %>!</h1>
    <h3>Here are upcoming practices:</h3>

    <main class="practices-grid">
        <article class="practice-grid">
        <% practiceDocs.forEach(practice => { %>
        <%= practice.name %> <br>
        <%= practice.date %> <br>
        <% practice.drills.forEach(drill => { %>
        <%= drill.name %>
        <% }) %>
        <a href="/practices/<%= practice._id %>">View Details</a>
            <% }) %>
        <a href="/practices/new/">Add</a>
        </article>
    </main>
</body>
</html>