<%- include('../partials/header') %>

<body>
    <h1>Practice Details!</h1>
    <a class="back-btn" href="/practices/">&#60;&#60; Back</a> <br>
    <article>
        Name: <%=practice.name%> <br>
        Date: <%= practice.date.toLocaleString() %> <br>
        Description: <%= practice.description %> <br>
        Created By: <%= practice.user.name %> <br>

        <% if(user && user._id.equals(practice.user.id)) {%>
            <form action="/practices/<%=practice._id%>?_method=DELETE" method="POST">
                <!-- <button type="Submit">Delete</button> -->
                <input type="submit" value="Delete">
            </form>
        <% } %>
        
    </article>   
</body>
</html>