<%- include('../partials/header') %>

<body>
    <h1>Practice Details!</h1>
    <a class="back-btn" href="/practices/">&#60;&#60; Back</a> <br>
    <div>
        Name: <%= practice.name %> <br>
        Date: <%= practice.date.toLocaleString() %> <br>
        Description: <%= practice.description %> <br>
        Created By:
        <img src="<%= practice.user.avatar %>" alt="user-profile">
        <%= practice.userName %> <br>

        <form action="/practices/<%=practice._id%>?_method=DELETE" method="POST">
            <button type="Submit">Delete</button>
        </form>
    </div>   
</body>
</html>